.playgroundpara p {
    font-family: Product Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 42px;
    /* identical to box height */
    color: rgba(0, 0, 0, 0.4);
}

@media only screen and (max-width:676px) {
    .playgroundpara p {
        font-size: 16px;
        line-height: 19px;
    }
}